@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.max-width {
  max-width: 1400px;
  margin: auto;
}

.bg-blue {
  background-color: #5E96B7;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #000000;
}

h2 {
  color: #5E96B7;
}

.max-width {
  max-width: 1400px;
  margin: auto;
}

.bg-blue {
  background-color: #5E96B7;
}

.header {
  height: 75px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 5%;
  border-top: 2px solid #EFEFEF;
  border-bottom: 2px solid #EFEFEF;
}
.header .logo {
  width: 300px;
  fill: #EFEFEF;
}
.header .navigation .nav-list {
  display: flex;
  gap: 15px;
}
.header .navigation .nav-list .nav-item a {
  font-weight: 600;
  font-size: 1.2rem;
  color: #EFEFEF;
  text-transform: uppercase;
  transition: color 0.2s ease-in;
}
.header .navigation .nav-list .nav-item a:hover {
  color: #5E96B7;
}

main {
  display: grid;
  grid-template-columns: 130px 1fr;
}

.aside {
  height: 89vh;
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-top: 50px;
  border: 2px solid #EFEFEF;
}
.aside .aside-icone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  gap: 15px;
  color: #EFEFEF;
}
.aside .aside-icone svg {
  width: 50px;
  fill: #EFEFEF;
}
.aside .aside-icone span {
  font-weight: 600;
  text-transform: uppercase;
}

.main-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.main-section .about {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 15px;
  margin-top: 50px;
  color: #EFEFEF;
  border: 2px solid #EFEFEF;
  background-image: url("../assets/Light_Kit_For_Imperial_Star_Destroyer_75252_800x.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.main-section .about h2 {
  color: #5E96B7;
}
.main-section .about .span-blue {
  color: #5E96B7;
}
.main-section .about #about-btn {
  width: 10%;
  padding: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #EFEFEF;
  cursor: pointer;
  border: 2px solid #EFEFEF;
  background-color: #000000;
  transition: scale 0.5s ease;
}
.main-section .about #about-btn:hover {
  scale: 0.9;
}
.main-section .kpi {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 15px;
  margin-top: 10vh;
  background-image: url("../assets/aldebaran-s-uXchDIKs4qI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #EFEFEF;
  border: 2px solid #EFEFEF;
}
.main-section .kpi .kpi-container {
  display: flex;
  gap: 15px;
  margin-top: 50px;
}
.main-section .kpi .kpi-container .kpi-icone {
  display: flex;
  gap: 15px;
}
.main-section .kpi .kpi-container .kpi-icone svg {
  width: 60px;
  fill: #5E96B7;
}
.main-section .kpi .kpi-container .kpi-icone .kpi-infos h3 {
  font-size: 1rem;
  color: #5E96B7;
}
.main-section .kpi #kpi-btn {
  width: 25%;
  padding: 15px;
  font-weight: 500;
  align-self: flex-end;
  text-transform: uppercase;
  margin-top: 20px;
  color: #EFEFEF;
  cursor: pointer;
  border: 2px solid #EFEFEF;
  background-color: #000000;
  transition: scale 0.5s ease;
}
.main-section .kpi #kpi-btn:hover {
  scale: 0.9;
}

.max-width {
  max-width: 1400px;
  margin: auto;
}

.bg-blue {
  background-color: #5E96B7;
}

.max-width {
  max-width: 1400px;
  margin: auto;
}

.bg-blue {
  background-color: #5E96B7;
}

.table-container {
  height: 50vh;
  overflow-y: scroll;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead {
  background-color: #5E96B7;
  color: #EFEFEF;
}
.table th, .table td {
  padding: 15px;
  border-bottom: 1px solid #EFEFEF;
}
.table tbody tr {
  color: #EFEFEF;
  cursor: pointer;
}
.table tbody tr:hover {
  background-color: rgba(168, 167, 167, 0.753);
}

.section-planete {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}
.section-planete .planete-card {
  padding: 20px;
  border: 1px solid #EFEFEF;
}
.section-planete .planete-card h2 {
  text-transform: uppercase;
  color: #EFEFEF;
}
.section-planete .planete-card .planete-filter-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
.section-planete .planete-card .planete-filter-container #planete-filter {
  width: 50%;
  padding: 5px;
  color: #EFEFEF;
  background-color: #000000;
}
.section-planete .planete-card .search-container {
  display: flex;
}
.section-planete .planete-card .search-container input {
  width: 100%;
  padding: 7px;
  border: 1px solid #EFEFEF;
  color: #EFEFEF;
  background-color: #000000;
}
.section-planete .planete-card .search-container svg {
  width: 15px;
  fill: #EFEFEF;
  position: relative;
  right: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.details h2 {
  text-transform: uppercase;
}
.details p {
  color: #EFEFEF;
}
.details p span {
  color: #5E96B7;
}
.details #population {
  color: #EFEFEF;
}
.details .kpi-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
.details .kpi-container .kpi-icone {
  display: flex;
  align-items: center;
  gap: 10px;
}
.details .kpi-container .kpi-icone svg {
  width: 30px;
  fill: #5E96B7;
}
.details .kpi-container .kpi-icone .kpi-infos {
  color: #EFEFEF;
}
.details #savoir-plus {
  padding: 10px;
  border: 1px solid #EFEFEF;
  background-color: #000000;
  color: #EFEFEF;
  cursor: pointer;
}
.details #savoir-plus:hover {
  background-color: #5E96B7;
}

/*# sourceMappingURL=style.css.map */
