@import"variables";

.table-container{
    height: 50vh;
    overflow-y: scroll;
}

.table{
    width: 100%;
    border-collapse: collapse;

    thead{
        background-color: $blue;
        color: $primary;
    }
    th, td{
        padding: 15px;
        // text-align: justify;
        border-bottom: 1px solid $primary;
        
    }
    tbody {
        tr{
            color: $primary;
            cursor: pointer;
        }
        tr:hover{
            background-color: rgba(168, 167, 167, 0.753);
        }
    }
}